body{
    background-color:rgb(246, 255, 255);
}
.dashboard-heading{
    margin-left: 100px;
}
.threedivs{
    display: flex;
    gap:60px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.div1{
    border-radius:20px ;
    background-color: white;
    height: 170px;
    width:400px;
    box-shadow: 0 2px 5px 2px rgb(214, 213, 213);
}
.head{
    margin-left: 15px;
    margin-top: 25px;
}
.tail{
    margin-top: 50px;
    font-size: 2.5rem;
    margin-left: 15px;
    font-weight: 600;
}
.pie{
    display: flex;
    margin-top: 100px;
    gap:100px;
    justify-content: center;
  min-height: 350px;


}
.pie1{
   border-radius: 20px;
   height:350px;
   width:585px;
   box-shadow: 0 2px 5px 1px rgb(214, 213, 213);
   padding-left: 30px;

}
.pie2{
    border-radius: 20px;
    height:350px;
   width:585px;
   box-shadow: 0 2px 5px 1px rgb(214, 213, 213);
   padding-left: 30px;
}
.line{
    font-size: 18px;
    font-weight: 600;
}
.pie {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.pie1, .pie2 {
  width: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  min-height: 350px; /* IMPORTANT */
}


.line {
  font-size: 18px;
  font-weight: 600;
}
.draw1{
    display: flex;
}
.calc{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}
.draw2{
    display: flex;
}
.clrbox{
    height:10px;
    width:10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    
}


