.expenses{
    margin-left: 100px;
}
p{
    line-height: 25px;
}
.add{
    background: white;
    height:550px;
    width:390px;
    border-radius: 30px;
    box-shadow: 0 2px 5px 2px rgb(214, 213, 213);
    padding-left: 25px;
    padding-top: 1px;
}
.amt{
    width:300px;
    height:25px;
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 209);
    outline: none;
    padding-left: 10px;
}
.catval{
    width:315px;
    height:32px;
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 209);
    outline: none;
    padding-left: 10px;

}
.payname{
    width:315px;
    height:32px;
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 209);
    outline: none;
    padding-left: 10px;

}
.note{
   width:302px;
    height:62px;
    border-radius: 10px;
    border: 1px solid rgb(214, 209, 209);
    outline: none;
    padding-left: 10px;
}
.addexp{
    width:316px;
    height:42px;
    background-color: rgb(69, 69, 199);
    color: white;
    margin-top: 20px;

    border-radius: 10px;
    border: none;

}