/* MAIN SECTION */
.loginsignup2 {
    width:100%;
    height: 100vh;
    padding-top: 80px
}

/* WHITE LOGIN BOX */
.container {
    width:500px;
    height:600px;
    margin: auto;
    padding: 40px 60px;
    background: #f4f9ff; /* Light Cream */
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 15px rgba(75, 46, 43, 0.15);
}

.container h1 {
    margin: 20px 0px;
    color: rgb(69, 69, 199);;  /* Dark Coffee */
}

/* INPUT FIELDS */
.fields {
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 30px;
}

.fields input {
    height:50px;
    width:100%;
    border:1px solid rgb(199, 199, 227);  /* Caramel border */
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
    color: grey;
}

/* LOGIN BUTTON */
.continue {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background: rgb(69, 69, 199);; /* Mocha */
    color: white;
    font-weight:bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

.continue:hover {
    background: rgb(107, 107, 185);;  /* Caramel */
}

/* SIGNUP TEXT */
.abc {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: rgb(69, 69, 199);;
}

.abc span {
    color: rgb(3, 26, 95);  /* Mocha */
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
}

/* TERMS */
.terms {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    font-size: 14px;
    color: #2c2b4b;
}

.terms span {
    color: #3d3f7a;
    font-weight: 500;
}

