.mainheading{
   margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.heading{
    font-size: 70px;
    text-align: center;
    font-weight: 600;
}
span{
    color: black;
}
.para{
    margin-top: 50px;
    line-height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.entrybtns{
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top: 80px;
}
.signup{
    height:40px;
    width:150px;
    font-size: 20px;
    background-color: rgb(69, 69, 199);
    color: white;
    border-radius: 10px;
    border: none;
}
.signup:hover{
    background-color: rgb(93, 93, 212);
}
.Dashboard{
    height:40px;
    width:150px;
    font-size: 20px;
    background-color: rgb(223, 219, 219);
    color: black;
    border-radius: 10px;
    border: none;
}
.Dashboard:hover{
    background-color: rgb(236, 236, 236);
}
.infodivs{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap:50px;
}
.monthlybudget{
    height:120px;
    width:170px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(214, 213, 213);
    text-align: center;
    
}
.categ{
       height:120px;
    width:170px;
    background-color:white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 5px rgb(214, 213, 213);

}
.stat{
       height:120px;
    width:170px;
    background-color:white;
    border-radius: 10px;
   box-shadow: 0 1px 5px rgb(214, 213, 213);
    text-align: center;

}
.transactions{
       height:120px;
    width:170px;
    background-color:white;
    border-radius: 10px;
   box-shadow: 0 1px 5px rgb(214, 213, 213);
    text-align: center;

}